body{
   height: 95vh;
   width: 95;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color: rgb(44, 41, 41);
    
}
h1{
    color: rgb(76, 218, 40);
}